.first{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(75, 72, 75);
    text-shadow: 2px 2px 4px #000000;
}
.second{
    height: 400px;
    width: 350px;
    font-weight: 250px;
    border: 2px solid black;
    padding-top: 70px;
    background-color: rgb(111, 172, 172);
    border-radius: 30px;
    box-shadow: 10px 10px 5px lightblue inset;



}
.text-center{
    padding-left: 500px;
    background-color:aqua;
}

.bb{
    height: 50px;
    width: 350px;
    font-weight: 250px;
  
}

h5{
    color: white;
}

