
    .first{
        text-shadow: 2px 2px 4px #000000;
    }
    
    .fifth{
        margin-right: 430px;
    }


    .sec{
        border-radius: 15px;
    }

    .thir{
        color: #000000;
    }